*{
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
background-color: #22272e;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container{
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
    margin: 0 20px;

}

.logo{
    max-width: 227px;
}

.title{
    text-align: center;
    color: #FFF;
    margin: 24 0px;
}

.form label{
    color: #FFF;
    font-size: 20px;
}

.input{
    width: 100%;
    height: 48px;
    border-radius: 4px;
    font-size: 20px;
    padding: 0 14px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.button{
    width: 100%;
    height: 48px;
    background-color: #119cea;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
}

.result{
    background-color: #00b63e;
    max-width: 520px;
    padding: 20 28px;
    text-align: center;
    margin-top: 28px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid #696969;
    user-select: none;
    transition: transform 0.8s;
}

.hide{
    display: none;
}

.result:hover{
    transform: scale(1.1);
}

.result span{
    color: #FFF;
    margin-bottom: 8px;
}

#text-result{
    font-size: 24px;
    font-weight: bold;
}

.info{
    position: fixed;
    right: 14px;
    bottom: 22px;
}

.info-img{
    width: 66px;
    height: 66px;
}

.tooltip{
    color: #FFF;
    background-color: #151515;
    padding: 10 8px;
    border-radius: 6px;
    position: relative;
    bottom: 28px;
    display: none;
}

.info:hover .tooltip{
    display: inline;
} 

.sobre{
    max-width: 620px;
    background-color: #242424;
    padding: 24px 14px;
    border: 1px solid #696969;
    border-radius: 4px;
}

.sobre p{
    color: #FFF;
    margin-bottom: 8px;
    line-height: 150%
}

.button-calcular{
    background-color: #119cea;
    height: 48px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin-top: 24px;
    border-radius: 4px;
}